/* ====== SECTION ONE STARTS HERE  ===== */
.section_one {
    border-bottom: 1px solid #ccc;
}
.section_one .top_header {
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section_one .top_header 
.top_header_info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_one .top_header 
.top_header_info p:first-child{
    margin-right: 30px;
}

.section_one .top_header 
.top_header_info p{
    font-size: 14px;
}

.section_one .top_header 
.top_header_info span i{
    font-size: 20px;
    color: #f35525;
    padding-right: 10px;
}


/* ======== MAIN HEADER STARTS HERE  ======= */
.header_section {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding-block: 30px;
    position: sticky;
    top:0px;
    z-index: 3;
}

.main_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
}

.main_header .logo{
    font-size: 22px;
    font-weight: 800; 
}

.main_header ul{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.main_header ul li{
    font-size: 20px;
    font-weight: 500;
    transition: all ease-in-out 0.5s;
}

.main_header ul li a{
    transition: all ease 0.4s;
}

.main_header ul li a:hover{
    color: #f35525;
}


.main_header ul li:last-child a{
    background-color: #000;
    color: #fff;
    padding: 6px 20px 8px 45px;
    position: relative;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 400;
}

.fa-calendar {
    background-color: #f35525;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 18px !important;
    padding: 11px;
    z-index: 1;
    margin-top: -4px;
    margin-left: 0px;
    color: #fff;
    border-radius: 50%;
}


/* ====== SECTION THREE =====  */

.section_three {
    width: 100%;
    height: 85vh;
    background-image: url(../images/banner-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section_three div{
    margin-top: 80px;
}

.section_three p {
    width: 170px;
    color: #fff;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 15px;
    text-align: left;
}

.section_three p span{
    color: #f35525;
    
}

.section_three h2{
    width: 580px;
    color: #fff;
    font-size: 65px;
    line-height: 1.3;
}
.section_four{
    width: 100%;
    height: 100vh;
}
.features_info{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: -100px;
}
.section_four .featured_icon{
    position: relative;
}
.section_four .featured_icon .background_image{
   padding-left: 55px;
}
.section_four .featured_icon .overlay_image{
    position: absolute;
    display: block;
    padding: 228px;
    line-height: 110px;
    background-color: #f35525;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 20px;
    left: 20px;
    bottom: 90px;
}
.section_four .best_apartment{
text-align: left;
justify-content: center;
gap: 50px;
flex-wrap: wrap;
line-height: 1.5;
}

.best_apartment{
    margin: 20px 20px 10px 20px;
    width: 100%;
}
.best_apartment p{
    position: relative;
	display: block;
	padding: 13px 60px 15px 13px;
	margin-bottom: 2px;
	color: #202020;
	font-size: 20px;
	text-decoration: none;
	/* background-color: #cecece38; */
	border-radius: 3px;
    cursor: pointer;
}
.best_apartment .best_apartment_top{
    margin: 10px 10px 60px 0;
}
.best_apartment .best_apartment_top h2{
    font-size: xx-large;
    margin-top: 20px;

}
.best_apartment_top h6{
    color: #f35525;
}

.best_apartment .useful_link{
    background-color: #cecece38;
    padding: 10px 5px 10px 20px;
}
.best_apartment_details .useful_link #best_useful_link{
    margin-bottom: 50px;
    color: #f35525;
}

.best_apartment .stroked_text{
    margin: 10px 10px 60px 0;
}

.top_land_description{
    border-radius: 10px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.17);
    padding: 35px 30px;
    margin-left: 30px;
    margin-right: 100px;
    width: 100%;
    height: 100vh;
    padding-left: 70px;

}
.top_land_description ul li{
    display: block;
    margin-bottom: 85px;
    padding-bottom: 35px;
    border-bottom: 1px solid #f1f1f1;
  
}
.top_land_description ul li:last-child{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.top_land_description img{
width: 40px;
float: left;
margin-right: 15px;
margin-left: -30px;
padding-left: -10px;
}

.top_land_description ul li h4 {
    font-size: 20px;
    font-weight: 600; 
    text-align: left;
    line-height: 0.8;
   
}

.top_land_description ul li h4 span {
    font-size: 14px;
    color: #aaa;
    font-weight: 400;
}

.video_section {
    background-image: url(../images/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0px 250px 0px;
    position: relative;
    margin-top: 140px;
}

.video_section_content {
    margin-top: -220px;
}

.video_section .section_heading h6 {
margin-top: 10px;
align-content: center;
text-align: center;
color: #f35525;
margin-bottom: 20px;
}
.video_section .section_heading h2 {
    color: #fff;
    text-align: center;
}

.video_section_content .video_section_overlay {
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.video_section_content .video_section_overlay img {
    border-radius: 10px;

}

.video_section_content .video_section_overlay a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-26px, -26px);
    width: 52px;
    height: 52px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    color: #f35525;
    outline: 15px solid rgba(254, 85, 37, 0.5);
    font-size: 18px;
}